In [140]:
import pandas as pd
import numpy as np
import pathlib
from pprint import pprint
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math

csvpath = "master_no_outlier.csv"
df = pd.read_csv(csvpath)

In [141]:

df = df.drop(["yelp_rating_zscore", "lng_zscore", "name 2_zscore", "Walk Score_zscore", "Unemployment_zscore", "Household Income_zscore", "lat_zscore", "review_count_zscore", "Unnamed: 0", "Population_zscore", "Median Age_zscore", "Per Capita Income_zscore", "Poverty Count_zscore",  "Bike Score_zscore", "Midwest_zscore", "South_zscore", "West_zscore"], axis=1)

In [142]:
df

,yelp_rating,review_count,lat,lng,name 2,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Unemployment,Walk Score,Bike Score,Midwest,South,West
0,3.5,58.0,33.955900,-84.131800,1,67959,35.1,53514,28011,8901,1677,58,46.0,0,1,0
1,3.0,126.0,33.955240,-84.131099,0,67959,35.1,53514,28011,8901,1677,56,40.0,0,1,0
2,3.0,137.0,33.955604,-84.132970,2,67959,35.1,53514,28011,8901,1677,52,48.0,0,1,0
3,3.0,67.0,37.871900,-122.509200,1,11408,51.1,103424,83637,1197,243,71,86.0,0,0,1
4,3.0,67.0,33.377231,-112.029907,0,46570,32.1,53824,23442,8510,1880,51,72.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4966,2.5,51.0,46.613916,-120.511168,2,32204,30.4,40437,18216,8257,852,61,54.0,0,0,1
4967,3.0,21.0,38.423513,-82.442233,2,20875,40.2,36022,28529,5226,498,77,80.0,0,0,0
4968,3.0,19.0,39.297170,-81.547218,2,30158,39.7,34259,21225,7717,1019,52,30.0,0,0,0
4969,2.5,74.0,42.960442,-88.008841,2,25879,41.1,53328,31331,2836,374,66,48.0,1,0,0
4970,2.5,19.0,42.848222,-106.258165,2,17656,37.0,65615,37099,1941,376,48,27.0,0,0,1

In [143]:
new_df = df

In [144]:
new_df

,yelp_rating,review_count,lat,lng,name 2,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Unemployment,Walk Score,Bike Score,Midwest,South,West
0,3.5,58.0,33.955900,-84.131800,1,67959,35.1,53514,28011,8901,1677,58,46.0,0,1,0
1,3.0,126.0,33.955240,-84.131099,0,67959,35.1,53514,28011,8901,1677,56,40.0,0,1,0
2,3.0,137.0,33.955604,-84.132970,2,67959,35.1,53514,28011,8901,1677,52,48.0,0,1,0
3,3.0,67.0,37.871900,-122.509200,1,11408,51.1,103424,83637,1197,243,71,86.0,0,0,1
4,3.0,67.0,33.377231,-112.029907,0,46570,32.1,53824,23442,8510,1880,51,72.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4966,2.5,51.0,46.613916,-120.511168,2,32204,30.4,40437,18216,8257,852,61,54.0,0,0,1
4967,3.0,21.0,38.423513,-82.442233,2,20875,40.2,36022,28529,5226,498,77,80.0,0,0,0
4968,3.0,19.0,39.297170,-81.547218,2,30158,39.7,34259,21225,7717,1019,52,30.0,0,0,0
4969,2.5,74.0,42.960442,-88.008841,2,25879,41.1,53328,31331,2836,374,66,48.0,1,0,0
4970,2.5,19.0,42.848222,-106.258165,2,17656,37.0,65615,37099,1941,376,48,27.0,0,0,1

In [115]:
### Train Data
X= new_df.drop("name 2",axis=1)
y = new_df["name 2"]
X

,yelp_rating,lat,lng,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Unemployment,Walk Score,Bike Score,Midwest,South,West
0,2.0,34.145200,-118.259400,689,35.2,159500,93135,188,21,90,63.0,0,0,1
1,2.0,34.145100,-118.258900,689,35.2,159500,93135,188,21,88,63.0,0,0,1
2,2.0,34.145146,-118.259298,689,35.2,159500,93135,188,21,90,63.0,0,0,1
3,3.5,33.955900,-84.131800,67959,35.1,53514,28011,8901,1677,58,46.0,0,1,0
4,3.0,33.955240,-84.131099,67959,35.1,53514,28011,8901,1677,56,40.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5376,2.5,46.613916,-120.511168,32204,30.4,40437,18216,8257,852,61,54.0,0,0,1
5377,3.0,38.423513,-82.442233,20875,40.2,36022,28529,5226,498,77,80.0,0,0,0
5378,3.0,39.297170,-81.547218,30158,39.7,34259,21225,7717,1019,52,30.0,0,0,0
5379,2.5,42.960442,-88.008841,25879,41.1,53328,31331,2836,374,66,48.0,1,0,0
5380,2.5,42.848222,-106.258165,17656,37.0,65615,37099,1941,376,48,27.0,0,0,1

In [116]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.33)

In [117]:
from sklearn.linear_model import LogisticRegression

In [118]:
logmodel = LogisticRegression()

In [119]:
logmodel.fit(X_train, y_train)

C:\Users\totor\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\totor\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [120]:
predictions  = logmodel.predict(X_test)

In [121]:
from sklearn.metrics import classification_report

In [122]:
pprint(classification_report(y_test,predictions))

('              precision    recall  f1-score   support\n'
 '\n'
 '           0       0.61      0.79      0.69       820\n'
 '           1       0.55      0.51      0.53       546\n'
 '           2       0.50      0.01      0.03       218\n'
 '\n'
 '    accuracy                           0.59      1584\n'
 '   macro avg       0.55      0.44      0.41      1584\n'
 'weighted avg       0.57      0.59      0.54      1584\n')

In [123]:
from sklearn.metrics import confusion_matrix

In [124]:
confusion_matrix(y_test,predictions)

array([[646, 171,   3],
       [266, 280,   0],
       [154,  61,   3]], dtype=int64)

In [125]:
from sklearn.metrics import accuracy_score

In [126]:
accuracy_score(y_test,predictions)

0.586489898989899

In [127]:
from sklearn.utils import shuffle
y_test_shuf = shuffle(y_test)

In [128]:
accuracy_score(y_test_shuf,predictions)

0.47285353535353536

In [129]:
logmodel.coef_

array([[ 1.55515167e-02,  1.85063277e-02,  3.07891624e-02,
        -3.89916692e-06, -5.41441822e-03,  9.97581865e-06,
         9.11869122e-06,  2.67482072e-05, -9.22576600e-05,
         2.02683577e-02,  5.33933668e-03, -1.34709467e-03,
        -4.20670378e-03,  4.13938614e-03],
       [-7.59334095e-03, -3.95400643e-02, -3.89091240e-02,
         1.08738600e-06, -3.50465254e-02, -3.02905282e-06,
        -4.00837717e-06, -4.05190033e-05,  1.54827935e-04,
        -1.63060760e-02, -5.63662162e-03, -7.29597746e-04,
        -1.16950647e-03,  2.61542802e-03],
       [ 5.36797313e-03,  2.44142022e-02,  1.58481883e-02,
         1.33453663e-05,  3.03051426e-02, -2.12794058e-05,
        -5.45158130e-06, -3.35417797e-05, -8.98954848e-05,
        -1.20151247e-02, -4.40269498e-03,  5.37618344e-04,
         1.54496637e-03, -2.18009586e-03]])